@import url('https://fonts.googleapis.com/css?family=Montserrat|Zeyada|Press+Start+2P&display=swap:100,200,300,400,500,600,700');

/* div{
    border: solid 1px black;
}   */

html, body {
  height: 100%;
}

body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: 	#303030;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

a{
    color: #6c757d;
    text-decoration: none;
}

a a:hover{
    color:#303030;
}

/*------------------------------------------------------------------HEADER*/

.navbar{
    font-size: 2rem;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-nav{
    margin-right: 10rem;
}

.navbar-brand{
    font-family: "Zeyada", sans-serif;
    font-size: 3rem;
    margin-left: 15rem;
    padding-left: 3rem;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
}

a.navbar-brand:hover{
    color: grey !important;
}

.navbar-nav a:hover{
    /* border-bottom: 1px solid #fff; */
    color: #fff;
}
.navbar-toggler-icon{
    margin-left: auto;
    }

    /*-------------------------------------------------------------------------SCROLLspy*/

#contact{
    padding: 0px;
    margin-top: 0px;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#tech{
    height: auto;
    overflow-y: hidden; 
    overflow-x: hidden;
    padding-top: 120px;
    margin-top: -100px;
} 

#agile{
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 50px;
    margin-top: -10px;
}

/*-------------------------------------------------------------------IMAGES*/

.landing-image{
    background: url("../images/landing-image.png") no-repeat center center;
    background-position: center;
    background-size: contain;
    height: 50vh;
    max-width: 100%;
    margin-top: 120px;
 }

.tech-image{
    background: url("../images/tech-image.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 30vh;
    max-width: 100%;
    margin-top: 0vh;
}

.backend-image{
    background: url("../images/backend-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 30vh;
    max-width: 100%;
    margin-top: 0vh;
}

.agile-image{
    background: url("../images/agile-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 27vh;
    margin-top: 4rem;
    z-index: -1;
}

.contact-image{
    background: url("../images/contact-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    margin-top: 60px;
    /* margin-bottom: 10px; */
}

.card-image{
    margin-top: 1.5rem;
}

/*-------------------------------------------------------------------CARDS*/

.card-body{
    text-align:justify;  
    text-justify:inter-character;
    padding: 1.5rem;
}

.card{
    border: none;
}
.btn-secondary:hover{
    color: #303030;
    background-color: gray;
}

.cards-tech{
    /* margin-bottom: 1rem; */
     z-index: -1;
}
/* .cards-agile{
    margin-bottom: 30px;
} */

.cards-content{
    margin-bottom: 3rem;
}

.portfolio{
    color: black;
}

/*-------------------------------------------------------------------CARDS LANDING PAGE*/

.landing-content{
    border: grey solid 0.5px; 
    border-radius: 5px;
    margin-top: 10px;
}
.landing-content h4{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    letter-spacing: 5px;
}

.landing-content p{
    /* text-indent: 50px; */
    text-align: justify;
    letter-spacing: 2px;
}

.landing-content p i:hover{
    color: #303030;
}

.landing-content-item a{
    color: #242524;
}

/*-------------------------------------------------------------------PROGRESS SKILLS*/

.skillbar{
    /* position: relative; */
    display: block;
    width: 100%;
    margin-bottom: 10px;
    }

.skillbar-bar:before {
    background: #eee;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #303030;
    border-radius: 10px;
    transition-property: width, background-color;
}

.skillbar-title {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* old previous */
/* .progress-skills{
    margin-bottom: 48px;
    margin-top: 5rem;
     z-index: -1;
}
.progress{
    background-color: #343a40;
    height: 1.5rem;
    margin-bottom: 10px;
}

.progress-bar{
    background-color: #D4CECE;
    color: black;
    transition: width 2s;
}

.progress-type{
    color: #fff;
    text-align: right;
} */

/*-------------------------------------------------------------------TYPEWRITER*/

.content{
  flex: 1 0 auto;
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  position: relative;
  /* height: 2rem; */
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  padding-top: 10vh;
  /* margin-top: 2vh; */
  /* padding-bottom: 10vh;
  margin-bottom: 12vh; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 10s steps(30,end) 1s 1 normal both, 
    blink-caret .75s steps(30,end) infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing{
  from { width: 0 }
  to { width: 41% }
}

@keyframes typing{
  from { width: 0 }
  to { width: 41% }
}

/* The typewriter cursor effect
@keyframes blink-caret{
  from, to { border-color: transparent}
  50% { border-color: orange;}
} */

@keyframes blink-caret{
    from, to { border-color: transparent}
  50% { border-color: black;}
}

/*-------------------------------------------------------------------CONTACT FORM*/

.form-box h1{
    text-align: center;
    font-family: inherit;
    margin-top: 0.3rem;
}

.form-box{
    width: 100%;
}

.contact-map-wrapper{
    width: 90%;
    height: 350px;
    /* padding:20px; */
    border-radius: 8px;
    border:  #6c757d 1px solid;
    margin-left: 4rem;
    margin-top: 1.9rem;
}

.contact-info{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-info-box{
    margin:0;
}

.contact-info-button{
    color: black;
}
/*-------------------------------------------------------------------IFRAMES*/

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

/*-------------------------------------------------------------------------FOOTER*/

#sticky-footer {
  flex-shrink: 0;
  margin-top: 40px;
}

#sticky-footer list-styled{
    display: inline;
    font-size: 1.5rem;
}

.download a{
    color: #fff;
}

.list-styled li i{
    color: #6c757d;
}

.list-inline li i{
    text-align: right;
    color: #C4C8C4;
    font-size: 1.5rem;
}

.list-inline li a{
    text-align: center;
}

.list-inline{
    margin-bottom: 5px;
    padding-top: 7px;
}

.list-inline li i:hover{
    color: #F4F7F4;
} 

/*-------------------------------------------------------------------MEDIA QUERIES*/

/* @media screen and (max-width: 320px){
.landing-image{
    margin-top: 5rem;
} */

@media screen and (max-width: 320px){
  .typewriter{
    float: none;
    /* background-color: blue; */
    margin: 0 auto;
  }

  .typewriter h1{
    font-size: 0.8rem;
   }

@keyframes typing{
  from { width: 0 }
  to { width: 100% }
    }

    .navbar-brand{
    font-size: 1.8rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    }

    .nav-item a{
        font-size: 0.8rem;
    }

    .landing-image{
        margin-top: 185px;
    }

    .card-text{
        font-size: 1rem;
    }

    .card-content-top{
        margin: 0;
    }

    #tech{
        padding-top: 0;
    }
}

/* @media screen and (min-width: 0px) and (max-width: 20px) {
  .social-networks { display: none; }
 } */
 @media screen and (min-width: 768px)and (max-width:1920px){
     .nav-item-home{display: none}
}

 @media screen and (min-width: 0px) and (max-width: 568px){
  /* .navbar-brand { display: none; } */
  .copy-right{ display: none; }
  .navbar-toggler-icon{margin-left: auto;}
  /* .list-inline li i {display: none;} */
  .nav-item{text-align: right;}
  .navbar-nav{margin-right: 0;}
  .contact-map {display: none;}
  .navbar-nav a:hover{border-bottom: none;}
}

@media screen and (min-width:0px) and (max-width: 320px){
    .navbar-toggler navbar-toggler-icon{margin-left: auto;}
}

@media screen and (min-width:0px) and (max-width: 411px){
    .tech-image{display: none;}
}
