@import url('https://fonts.googleapis.com/css?family=Montserrat|Zeyada|Press+Start+2P&display=swap:100,200,300,400,500,600,700');
/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */

/* div{
    border: solid 1px black;
}   */

html, body {
  height: 100%;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: 	#303030;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

a{
    color: #303030;
    text-decoration: none;
}

a a:hover{
    color:#303030;
    text-decoration-line: none;
}

/*------------------------------------------------------------------HEADER*/

.navbar{
    /* background-color: #909090 !important; */
    font-size: 2rem;
    position: fixed;
    z-index: 100;
    width: 100%;

}

.navbar-brand{
    font-family: "Zeyada", sans-serif;
    font-size: 3rem;
    color: #303030;
    margin-left: 20px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    margin-right: 50px;
}

.navbar-brand a:hover{
    color: #303030;
}

.navbar-nav a:hover{
    border-bottom: 1px solid #303030;
    color: #303030;
}

/*-------------------------------------------------------------------IMAGES*/

.landing-image{
    background: url("../images/landing-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    max-width: 100%;
    margin-top: 180px;
    z-index:-1;
}

.tech-image{
    background: url("../images/tech-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 30vh;
    max-width: 100%;
    
}

.agile-image{
    background: url("../images/agile-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
}

.softskills-image{
    background: url("../images/softskills-image.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
}

.contact-image{
    background: url("../images/contact-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
}

/*-------------------------------------------------------------------TYPEWRITER*/
.content {
  flex: 1 0 auto;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter h1 {
  position: relative;
  font-family: "Press+Start+2P" !important;
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 10s steps(56,end) 1s 1 normal both, 
    blink-caret .75s steps(56,end) infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
  50% { border-color: black; }
}

/*-------------------------------------------------------------------Contact Form*/

.contact-form{
    background: #fff;
    /* margin-top: 10%;
    margin-bottom: 5%; */
    width: 70%;
}

.contact-form .form-control{
    border-radius:1rem;
}

.contact-image{
    text-align: center;
}

.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form{
    padding: 14%;
}

.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #303030;
}

.contact-form .btnContact{
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #303030;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/*-------------------------------------------------------------------Footer*/







/* .footer{
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    padding: 5%;
    text-align: center;
    background-color: #343a40;
    flex-shrink: 0;
   
}

.footer-item a i{
    font-size: 2vh;
    color: #ffffff;
    display: inline;
}

.download p, a{
    display: inline;
     color: #ffffff;
      font-size: 1rem;
}

  .social-networks{
    text-align: center;
} 

.footer-item li{
    display: inline-block;
}

.footer-item i{
    padding: 5%;
    color: #303030;
    margin: 0 10px 0 0;
}  */

/*-------------------------------------------------------------------MEDIA QUERIES*/

@media screen and (max-width: 943px) {
  .typewriter{
    float: none;
    /* background-color: blue; */
    margin: 0 auto;
  }
  .typewriter h1{
    font-size: 5vh;
   }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .social-networks { display: none; }
 }