@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap:100,200,300,400,500,600,700');

/* div{
    border: solid 1px black;
} */

body{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: 	#303030;
    height: 100vh;
    overflow: hidden;
}

/*------------------------------------------------------------------Header*/

.navbar-brand{
    font-family: "Zeyada", sans-serif;
    font-size: 60px;
    color: #303030;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
     color: #303030;
     font-size: 30px;
}

/*-------------------------------------------------------------------Footer*/

.landing-image{
    background: url("../images/landing-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
}

/*-------------------------------------------------------------------Footer*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline-block;
}

.social-networks i{
    font-size: 160%;
    padding: 5%;
    color: #303030;
    margin: 0 10px 0 0;
}

/*-------------------------------------------------------------------Job Title*/

.jobtitle{
    text-align: center;
    margin-top: 10rem;
}